@{Layout = null;}
<div id="box-login">
    <p class="bold">Para joga o FUTECAMARA você deve logar primeiro</p>
    <p class="titulo-verde">LOGAR COM:</p>
    <a href="@Url.Action("Index","Login")"><img class="centralizado" src="@Url.Content("~/Content/Images/icoFaceOn.png")" /></a>
</div>
